.App {
  text-align: center;
  background: linear-gradient(to right, #dee4ed , #b4cff7);
  height: 1100px;
  font-family: 'Copse', serif;
}

.recipeList {
  overflow-y: scroll;
  height: 150px;
  border-spacing: 20px;
}

.favHeartStyle {
  padding-left: 40px;
}

.favHeartStyle:hover {
  cursor: pointer;
}

.popHeartStyle {
   padding-left: 10px;
}

.popHeartStyle:hover {
   cursor: pointer;
}

.icon:hover {
  cursor: pointer;
}

.popRecipes:hover {
  background: #a3c6ff;
  cursor: pointer;
}